.thanks-content-text
  Благодарим Вас за участие в нашей акции. Вашей анкете был присвоен уникальный порядковый номер -
  = "\"#{params[:participant]}\". ".strip
  Розыгрыш призов состоится 5 мая. А пока Вы можете вернуться на
  = link_to 'главную страницу', '/'
  или перейти к просмотру нашего
  = link_to 'интернет-магазина.', 'http://prima-aqua.ru'
